@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  /* background: #242424; */
  background-image: linear-gradient(to right top, #181818, #242424, #303030, #3d3d3c, #4a4a49); 
  /* background-attachment tarkoittaa että tuo taustakuva näkyy koko näytöllä eikä vain sisällön verran */
  background-attachment: fixed;
  text-align: center;
  color: white;
}


